/* Общие стили */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
  }
  
  .card {
    overflow: hidden;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
  }
  
  .card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 0.9rem;
  }
  
  /* Стили для статусов */
  .status-success {
    color: green;
  }
  .status-warning {
    color: orange;
  }
  .status-danger {
    color: red;
  }